* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  background-color: rgb(35, 25, 25);
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  color: aliceblue;
  font-size: 3rem;
  height: 6.5rem;
  width: 9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-logo {
  line-height: 3.5rem;
  background: #3119cf;
  background: -webkit-linear-gradient(to right, #3119cf 0%, #81a1eb 100%);
  background: -moz-linear-gradient(to right, #3119cf 0%, #81a1eb 100%);
  background: linear-gradient(to right, #3119cf 0%, #81a1eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", serif;
}

.logo img {
  height: 100%;
  width: 100%;
}

ul {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  list-style: none;
}

a {
  text-decoration: none;

  color: aqua;
}

.btn-hire button {
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  background-color: rgb(62, 62, 225);
  color: white;
  border: none;
  font-weight: 600;
}

/* //////////////////////////////  MAIN //////////////////////////// */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.title {
  width: 50%;
  padding-left: 4rem;
}

.me {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

.hello {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #adacb5;
}

.name {
  padding-top: 4px;
  color: #382b8b;
}

.designer {
  color: rgb(191, 194, 197);
}

.info {
  font-size: 1.4rem;
  width: 50rem;
  padding-top: 1rem;
  color: rgb(169, 172, 173);
}

.social {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  color: #aaaab0f7;
  gap: 2rem;
  padding-top: 2rem;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2.8rem;
  color: rgb(101, 104, 104);
}

.btn-meeting {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.book {
  padding: 1rem 2rem;
  background: #3119cf;
  border: none;
  border-radius: 0.4rem;
  font-weight: 600;
  color: rgb(215, 216, 216);
}

.download {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background: none;
  font-weight: 600;
  border: solid 2px blue;
  color: rgb(215, 216, 216);
}

.img-title {
  width: 45%;
}
